<DOCTYPE html>
<section ng-controller="HomeController">
    <header class="masthead">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 id="homeHeading">Gainesville Autonomous Vehicles</h1>
            <hr>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </header>



      <div id="about">
            <div class="container">
            <div class="row">
              <div class="col-xs-6 text-center">Insert image here</div>
              <div class="col-xs-6">
                <hr>
                <h1 class="text-center">About</h1>
                <p>Here is an introduction into what we are doing here in Gainesville Autonomous Vehicles
                </p>
              </div>
            </div>

          </div>

        </div>

      <div id="mapper">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h1>
                  Track the cars!
              </h1>
            </div>
          </div>
              <p>
                <!-- <iframe src="//www.google.com/maps/embed/v1/place?q=UniversityofFlorida,Gainesville%20Rd,%20UK
                &zoom=12
                &key=AIzaSyA9kHJlfEoiPIf0Zfv6LXMSjjJxrpJinOQ">
                </iframe> -->
              </p>
              <br>

              <div id="mapper" style="height:500px; width: 100%;">
              </div>
              <div class="angular-google-map-container">
              <ui-gmap-google-map center="map.center" zoom="map.zoom" style="height: 400%; width: 100%;"></ui-gmap-google-map>
              </div>

              <p>
                {{sample}}<br>
                UF: 116 <br>
                Route Number: 4001214
              </p>
        </div>
      </div>

      <div id="bottom">

        <div class="text-center">made with <3 by Group 5c</div>

		<br>
		<div class="text-center">Find us on Social media!</div>
		<div class="text-center">Click <a href="https://www.facebook.com/driverlesscarhq/" style="color: #cc5500" target="_blank">here</a> to go to Facebook.</div>
		<div class="text-center">Click <a href="https://twitter.com/autonomouscarr?lang=en" style="color: #cc5500" target="_blank">here</a> to go to Twitter.</div>

      </div>

      <script>
        function initMap(){
              var map = new google.maps.Map(document.getElementById('mapper'), {
                  zoom: 12,
                  center: {lat: 29.6436, lng: 82.3549}
            });

              // var marker = new google.maps.Marker({
              //   position: $scope.sample,
              //   map: map,
              //   title: 'Vehicle A'
              // });
        }
      </script>
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcr0SaiGl6iYijtX3GehD7l4QqJRhOoxo&callback=initMap"
    async defer></script> -->
    <!-- <script src="/public/lib/lodash/dist/lodash.min.js"></script>
    <script src="/public/lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script> -->
    <!-- <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyCZFjTD5PycADD6a-0PoBz51BEOcK91Mbs&sensor=false'></script> -->

    <!-- <script src="/public/lib/angular-google-maps/dist/angular-google-maps.min.js"></script> -->

</section>
