<div class="row" ng-controller="UploadTestimonialController as upload"">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>Submit a Testimonial</h3><br>

      <!--<form name="testimonialForm" ng-submit="submit(testimonialForm.$valid)" class="submit" novalidate autocomplete="off">-->
      <!--&lt;!&ndash; <form name="Form" class="form-horizontal" ng-submit="create(experienceForm.$valid)"> &ndash;&gt;-->
        <!--<fieldset>-->
          <!--<div class="form-group" show-errors>-->
            <!--<label for="name">Name</label>-->
            <!--<input name="name" type="text" ng-model="form.Name" id="name" class="form-control" placeholder="Name" required>-->
            <!--<div ng-messages="testimonialForm.Name.$error" role="alert">-->
              <!--<p class="help-block error-text" ng-message="required"> Name is Required.</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<br>-->

          <!--<div class="form-group">-->
            <!--<label for="exampleTextarea">Enter Testimonial Below:</label>-->
            <!--<br>-->
            <!--<textarea class="form-control" id="exampleTextarea" ng-model="form.text" placeholder="Testimonial text..." rows="5" required></textarea>-->
            <!--<div ng-messages="testimonialForm.text.$error" role="alert">-->
              <!--<p class="help-block error-text" ng-message="required">Testimonial is Required</p>-->
            <!--</div>-->

          <!--<br>-->

      <form name="userForm" ng-submit="submit(userForm.$valid)" class="submit" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" ng-model="form.fullName" placeholder="Name" required>
            <div ng-messages="userForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Name is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="testimonialText">Testimonial</label>
            <textarea id="testimonialText" name="testimonialText" class="form-control" rows="5" ng-model="form.testimonial" placeholder="Testimonial" required></textarea>
            <div ng-messages="userForm.testimonialText.$error" role="alert">
              <p class="help-block error-text" ng-message="required" >Testimonial is required.</p>
            </div>
          </div>

          <button id="upload_widget_opener">Upload multiple images</button>
        <br>
		<br>
            <input type="submit" class="btn btn-default">
          <!--</div>-->


          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
