<!DOCTYPE html>
<section ng-controller="addAVController"><!-- This template will serve for future implementation to the change vehicle feature-->
  <!-- This was not completed since it would have taken a lot of our time for a one time feature-->


<html>
	<head>
		<title>Vehicle Selection Page</title>
	</head>
	<body>
		<form>
			<center><h1>ADD VEHICLES</h1></center>
			Vehicle 1 ID:<br><input type="text"><br>
			<button ng-click>Add Vehicle 1</button><br>
			<!--<h1>My id is {{vehicle1}}</h1>-->
			Vehicle 2 ID:<br><input type="text"><br>
			<button ng-click>Add Vehicle 2</button><br>
			Vehicle 3 ID:<br><input type="text"><br>
			<button ng-click>Add Vehicle 3</button>
		</form>
	</body>
</html>
</section>
